body{
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.main-container{
  margin: 0;
  padding: 0;
 
   font-family: 'Poppins', sans-serif;

}

.navigation-bar{
  padding: 1%;
  top: 0;
  background-color: black !important;
  overflow: hidden;
  position: fixed;
  color: aliceblue;
}

.slideshow{
  height:50vh;

} 

.slide-img{
  height: 50vh;
}

h1{
  font-weight: 900;
  text-align: center;
}

.section-headings{
  font-family: 'Satisfy', cursive;
  color: #d64045;
}

.first-video{
    width: 100%;
    height: 70vh;
    margin: 0;
    padding: 0;
    object-fit: fill;
}

.first-video-container{
  margin: 0;
  padding: 0;
}

.about-us-container{
  margin: 4%;
  background-color: black;
}

.our-service-container{
  background-image: url(../Image/dancefloor.jpg); 
  background-repeat: no-repeat;
  background-size:cover;
  padding: 8%;
  margin: 0;
}

#what-we-offer{
  color: white !important;
  padding-top: 2%;
  text-align: center;
}

.gmap{
  width:100%;
  height: 30vh;
  margin: 0;
}

.meet-the-team{
  color: white;
  margin: 5%;
}

.meet-the-team-image{
  height: 50vh;
}


.footer-container{
  background-color: black;
  padding: 2%;
  color: white;
}

.footer-text{
  color: white;
}

.company-name{
  text-align: center;
}

.footer-bottom-buttons{
  border-radius: 0;
  margin: 0;
}

#call-button{
  background-color: #ffc300;
  color: black !important;
}

#call-button a:link{
  color: black !important;
  text-decoration: none;
}

#whatsapp-button{
  background-color:#29bf12;
  color: black !important;
}

#whatsapp-button a:link{
  color: black !important;
  text-decoration: none;
}
.card-title{
  color: #d64045;
  font-weight: 700;
}